<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-6">
        <h2>
            Join a Kahoot
        </h2>
        <form id="joinKahootForm">
            <div class="form-group">
                <label for="kahootCode">
                    Kahoot Code:
                </label>
                <input class="form-control" id="kahootCode" placeholder="Enter Kahoot code" required=""
                    type="text" />
            </div>
            <div class="form-group">
                <label for="playerName">
                    Your Name:
                </label>
                <input class="form-control" id="playerName" placeholder="Enter your name" required=""
                    type="text" />
            </div>
            <button class="btn btn-primary" type="submit">
                Join Kahoot
            </button>
        </form>
        
    </div>
</body>
</html>